{% load static %}
<div class="contenedor-cabecera">
    <div class="contenedor-estrella-1">
        {% if is_authenticated %}
        <a href="{% url 'user_profile' user.username %}" class="contenedor-cabecera-usuario">
            <img src="{% static 'img/profile/default.png' %}" alt="Perfil">
        </a>
        {% else %}
            <p class="estrella">&#10022;</p> 
        {% endif %}
    </div>
    <div class="contenedor-ovalo-titulo">
        <h1>{{ header_title }}</h1>
    </div>
    <div class="contenedor-estrella-2">
        <p class="estrella">&#10022;</p> 
    </div>
</div>